.dashboard-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
}

.dashboard-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
  margin-top: 35px;
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 260px;
  margin-top: 0px;
  padding-top: -10px;
  transition: margin-left 0.3s ease;
  background-color: #ebebeb;
  position: relative;
  height: calc(100vh - 60px);
  border-top-left-radius: 13px;
}

.dashboard-main:not(.sidebar-open) {
  margin-left: 0;
}

@media (max-width: 768px) {
  .dashboard-layout {
    margin-top: 0;
  }

  .dashboard-main {
    margin-left: 0;
    margin-top: 0;
  }
}
